{% extends "base.html.twig" %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Liste des commandes</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client</th>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Catégorie</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.id }}</td>
                            <td>{{ order.id }}</td>
                            <td>{{ order.id }}</td>
                            <td>{{ order.id }}</td>
                            <td>{{ order.id }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
{% endblock %}